.vs
/Engine/.vs
/Engine/Auth.API/bin
/Engine/Auth.API/obj
/Engine/Auth.API/obj/Debug
/Engine/Auth.API/obj/Debug/netcoreapp3.1

/Engine/Auth.AspNet.MVC/bin
/Engine/Auth.AspNet.MVC/obj
/Engine/Auth.AspNet.MVC/obj/Debug

/Engine/Auth.Cookie.MVC/bin
/Engine/Auth.Cookie.MVC/bin/Debug
/Engine/Auth.Cookie.MVC/bin/Debug/netcoreapp3.1
/Engine/Auth.Cookie.MVC/obj
/Engine/Auth.Cookie.MVC/obj/Debug
/Engine/Auth.Cookie.MVC/obj/Debug/netcoreapp3.1

/Engine/Auth.Identity.MVC/bin
/Engine/Auth.Identity.MVC/obj

/Engine/BankAdminSetup.ConsoleApp/bin
/Engine/BankAdminSetup.ConsoleApp/obj

/Engine/CodeSnippet.ConsoleApp/bin
/Engine/CodeSnippet.ConsoleApp/obj

/Engine/CustomAuthenticationMVC/bin
/Engine/CustomAuthenticationMVC/obj
/Engine/CustomAuthenticationMVC/obj/Debug

/Engine/EncodeToken/bin
/Engine/EncodeToken/obj

/Engine/EventStoreGRPC.SampleApp/bin
/Engine/EventStoreGRPC.SampleApp/obj

/Engine/Metronics.ASPNETCore.API/bin
/Engine/Metronics.ASPNETCore.API/obj

/Engine/Metronics.ASPNETCore.Web/bin
/Engine/Metronics.ASPNETCore.Web/obj

/Engine/Publico/bin
/Engine/Publico/obj

/Engine/Sample.WebAPI/bin
/Engine/Sample.WebAPI/bin/Debug/net5.0
/Engine/Sample.WebAPI/obj
/Engine/Sample.WebAPI/obj/Debug/net5.0

/Engine/Shoprite.ConsoleApp/bin
/Engine/Shoprite.ConsoleApp/obj

/Engine/Shoprite.WebApplication/bin
/Engine/Shoprite.WebApplication/obj

/Engine/SignalrClient.WebApplication/bin
/Engine/SignalrClient.WebApplication/obj

/Engine/Thur/bin
/Engine/Thur/obj

/Engine/WebFormApp/bin
/Engine/WebFormApp/bin/
/Engine/WebFormApp/bin/WebFormApp.pdb
/Engine/WebFormApp/bin/WebFormApp.dll
/Engine/WebFormApp/obj
/Engine/WebFormApp/obj/
/Engine/WebFormApp/obj/WebFormApp.pdb
/Engine/WebFormApp/obj/WebFormApp.dll
/Engine/WebFormApp/obj/Debug

*.user
/Engine/Auth.API/obj/project.nuget.cache
/Engine/Auth.API/obj/project.assets.json
/Engine/Auth.API/obj/Debug/netcoreapp3.1/Auth.API.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Auth.API/obj/Debug/netcoreapp3.1/Auth.API.csproj.AssemblyReference.cache
/Engine/Auth.API/obj/Debug/netcoreapp3.1/Auth.API.assets.cache
/Engine/Auth.API/obj/Auth.API.csproj.nuget.g.props
/Engine/Auth.API/obj/Auth.API.csproj.nuget.dgspec.json
/Engine/Auth.AspNet.MVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Engine/Auth.AspNet.MVC/obj/Debug/Auth.AspNet.MVC.csproj.AssemblyReference.cache
/Engine/Auth.Cookie.MVC/obj/project.nuget.cache
/Engine/Auth.Cookie.MVC/obj/project.assets.json
/Engine/Auth.Cookie.MVC/obj/Debug/netcoreapp3.1/Auth.Cookie.MVC.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Auth.Cookie.MVC/obj/Debug/netcoreapp3.1/Auth.Cookie.MVC.assets.cache
/Engine/Auth.Cookie.MVC/obj/Auth.Cookie.MVC.csproj.nuget.g.props
/Engine/Auth.Cookie.MVC/obj/Auth.Cookie.MVC.csproj.nuget.dgspec.json
/Engine/Auth.Identity.MVC/obj/project.nuget.cache
/Engine/Auth.Identity.MVC/obj/project.assets.json
/Engine/Auth.Identity.MVC/obj/Debug/netcoreapp3.1/Auth.Identity.MVC.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Auth.Identity.MVC/obj/Debug/netcoreapp3.1/Auth.Identity.MVC.csproj.AssemblyReference.cache
/Engine/Auth.Identity.MVC/obj/Debug/netcoreapp3.1/Auth.Identity.MVC.assets.cache
/Engine/Auth.Identity.MVC/obj/Auth.Identity.MVC.csproj.nuget.g.props
/Engine/Auth.Identity.MVC/obj/Auth.Identity.MVC.csproj.nuget.dgspec.json
/Engine/CustomAuthenticationMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Engine/CustomAuthenticationMVC/obj/Debug/CustomAuthenticationMVC.csproj.AssemblyReference.cache
/Engine/LeetCode/obj/Debug/net7.0/LeetCode.GeneratedMSBuildEditorConfig.editorconfig
/Engine/LeetCode/obj/Debug/net7.0/LeetCode.csproj.AssemblyReference.cache
/Engine/LeetCode/obj/Debug/net7.0/LeetCode.assets.cache
/Engine/LeetCode/obj/project.nuget.cache
/Engine/LeetCode/obj/project.assets.json
/Engine/LeetCode/obj/LeetCode.csproj.nuget.g.props
/Engine/LeetCode/obj/LeetCode.csproj.nuget.dgspec.json
/Engine/Metronics.ASPNETCore.API/obj/project.nuget.cache
/Engine/Metronics.ASPNETCore.API/obj/project.assets.json
/Engine/Metronics.ASPNETCore.API/obj/Metronics.ASPNETCore.API.csproj.nuget.g.props
/Engine/Metronics.ASPNETCore.API/obj/Metronics.ASPNETCore.API.csproj.nuget.dgspec.json
/Engine/Metronics.ASPNETCore.API/obj/Debug/netcoreapp3.1/Metronics.ASPNETCore.API.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Metronics.ASPNETCore.API/obj/Debug/netcoreapp3.1/Metronics.ASPNETCore.API.csproj.AssemblyReference.cache
/Engine/Metronics.ASPNETCore.API/obj/Debug/netcoreapp3.1/Metronics.ASPNETCore.API.assets.cache
/Engine/Metronics.ASPNETCore.Web/obj/project.nuget.cache
/Engine/Metronics.ASPNETCore.Web/obj/project.assets.json
/Engine/Metronics.ASPNETCore.Web/obj/Metronics.ASPNETCore.Web.csproj.nuget.g.props
/Engine/Metronics.ASPNETCore.Web/obj/Metronics.ASPNETCore.Web.csproj.nuget.dgspec.json
/Engine/Metronics.ASPNETCore.Web/obj/Debug/netcoreapp3.1/Metronics.ASPNETCore.Web.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Metronics.ASPNETCore.Web/obj/Debug/netcoreapp3.1/Metronics.ASPNETCore.Web.csproj.AssemblyReference.cache
/Engine/Metronics.ASPNETCore.Web/obj/Debug/netcoreapp3.1/Metronics.ASPNETCore.Web.assets.cache
/Engine/Publico/obj/Publico.csproj.nuget.g.props
/Engine/Publico/obj/Publico.csproj.nuget.dgspec.json
/Engine/Publico/obj/project.nuget.cache
/Engine/Publico/obj/project.assets.json
/Engine/Publico/obj/Debug/net5.0/Publico.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Publico/obj/Debug/net5.0/Publico.csproj.AssemblyReference.cache
/Engine/Publico/obj/Debug/net5.0/Publico.assets.cache
/Engine/Sample.WebAPI/obj/Sample.WebAPI.csproj.nuget.g.props
/Engine/Sample.WebAPI/obj/Sample.WebAPI.csproj.nuget.dgspec.json
/Engine/Sample.WebAPI/obj/project.nuget.cache
/Engine/Sample.WebAPI/obj/project.assets.json
/Engine/Sample.WebAPI/obj/Debug/net5.0/Sample.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Sample.WebAPI/obj/Debug/net5.0/Sample.WebAPI.csproj.AssemblyReference.cache
/Engine/Sample.WebAPI/obj/Debug/net5.0/Sample.WebAPI.assets.cache
/Engine/Thur/obj/Thur.csproj.nuget.g.props
/Engine/Thur/obj/Thur.csproj.nuget.dgspec.json
/Engine/Thur/obj/project.nuget.cache
/Engine/Thur/obj/project.assets.json
/Engine/Thur/obj/Debug/net5.0/Thur.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Thur/obj/Debug/net5.0/Thur.csproj.AssemblyReference.cache
/Engine/Thur/obj/Debug/net5.0/Thur.assets.cache
/Engine/WebFormApp/obj/Debug/WebFormApp.csproj.AssemblyReference.cache
/Engine/WebFormApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Engine/Auth.API/obj/project.nuget.cache
/Engine/Auth.API/obj/project.assets.json
/Engine/Auth.API/obj/Debug/netcoreapp3.1/Auth.API.GeneratedMSBuildEditorConfig.editorconfig
/Engine/Auth.API/obj/Debug/netcoreapp3.1/Auth.API.csproj.AssemblyReference.cache
/Engine/Auth.API/obj/Debug/netcoreapp3.1/Auth.API.assets.cache
/Engine/Auth.API/obj/Auth.API.csproj.nuget.g.props
/Engine/Auth.API/obj/Auth.API.csproj.nuget.dgspec.json
/Engine/Auth.Cookie.MVC/obj/project.nuget.cache
/Engine/Auth.Cookie.MVC/obj/Debug/netcoreapp3.1/Auth.Cookie.MVC.assets.cache
/Engine/Auth.Identity.MVC/obj/project.nuget.cache
/Engine/Auth.Identity.MVC/obj/Debug/netcoreapp3.1/Auth.Identity.MVC.assets.cache
/Engine/LeetCode/obj/project.nuget.cache
/Engine/LeetCode/obj/Debug/net7.0/LeetCode.assets.cache
/Engine/Metronics.ASPNETCore.API/obj/project.nuget.cache
/Engine/Metronics.ASPNETCore.API/obj/Debug/netcoreapp3.1/Metronics.ASPNETCore.API.assets.cache
/Engine/Metronics.ASPNETCore.Web/obj/project.nuget.cache
/Engine/Publico/obj/project.nuget.cache
/Engine/Sample.WebAPI/obj/project.nuget.cache
/Engine/Thur/obj/project.nuget.cache
/Engine/Thur/obj/Debug/net5.0/Thur.assets.cache
