.vs
/Engine/.vs
/Engine/Auth.API/bin
/Engine/Auth.API/obj

/Engine/Auth.AspNet.MVC/bin
/Engine/Auth.AspNet.MVC/obj

/Engine/Auth.Cookie.MVC/bin
/Engine/Auth.Cookie.MVC/obj

/Engine/Auth.Identity.MVC/bin
/Engine/Auth.Identity.MVC/obj

/Engine/BankAdminSetup.ConsoleApp/bin
/Engine/BankAdminSetup.ConsoleApp/obj

/Engine/CodeSnippet.ConsoleApp/bin
/Engine/CodeSnippet.ConsoleApp/obj

/Engine/CustomAuthenticationMVC/bin
/Engine/CustomAuthenticationMVC/obj

/Engine/EncodeToken/bin
/Engine/EncodeToken/obj

/Engine/EventStoreGRPC.SampleApp/bin
/Engine/EventStoreGRPC.SampleApp/obj

/Engine/Metronics.ASPNETCore.API/bin
/Engine/Metronics.ASPNETCore.API/obj

/Engine/Metronics.ASPNETCore.Web/bin
/Engine/Metronics.ASPNETCore.Web/obj

/Engine/Publico/bin
/Engine/Publico/obj

/Engine/Sample.WebAPI/bin
/Engine/Sample.WebAPI/obj

/Engine/Shoprite.ConsoleApp/bin
/Engine/Shoprite.ConsoleApp/obj

/Engine/Shoprite.WebApplication/bin
/Engine/Shoprite.WebApplication/obj

/Engine/SignalrClient.WebApplication/bin
/Engine/SignalrClient.WebApplication/obj

/Engine/Thur/bin
/Engine/Thur/obj

/Engine/WebFormApp/bin
/Engine/WebFormApp/obj