<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages pageBaseType="Auth.AspNet.MVC.BaseViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
</configuration>
